body{
    font-family: 'Figtree','sans-serif';
    background-color: #f4d03f;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 900px;
    margin: 0;

}

/*O Cartão*/

.Card{
    background-color: #ffffff ;
    border-radius:20px ;
    padding: 24px ;
    max-width:330px ;
    width: 90%;
    border: 1px solid #000;
    box-shadow: 8px 8px 0px #000;
    text-align: left;

}
.capa{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.perfil img {
    background-color: #f4d03f;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;

}
h1{
    font-size: 22px;
    margin: 15px 0;
    cursor: pointer;
}
h1:hover{
    color: #f4d03f;

}

.descrição{
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1.5;
}

.autor{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
.autor img{
    width: 32px;
    height: 32px;
    border-radius: 50%;


}

.autor.h2{
    font-size: 14px;
    margin: 0;
}